html, body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
}


/* Footer */

.footer {
    padding: 60px 0px;
    background-color: #000;
    color: #fff;
}

.footer h3 {
    font-size: 20px;
}

.footer img {
    width: 24px;
    margin-top: 10px;
    margin-right: 10px;
}

.footer p {
    font-size: 12px;
    margin-bottom: 0;
}


/* Header */

.header {
    padding: 30px 0px 80px;
}

.header h1 {
    font-size: 20px;
}

.nav li a {
    color: #333;
    margin: 0;
    border: 0px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}


/* Jumbotron */

.jumbotron {
    background-color: #fff;
}

.jumbotron h2 {
    font-size: 50px;
    margin-bottom: 120px;
}

.jumbotron h2 span {
    color: #ffc200;
}

.jumbotron p {
    text-shadow: 0 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cards {
    background: #ffc200;
    padding: 80px 0;
}

.cards h2 {
    margin: 20px 0 60px 0;
    text-align: center;
}

@media (max-width: 992px) {
    .col-md-4 {
        margin: 0 auto 0;
        text-align: center;
        width: 100%;
    }
    .cards img {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .header h1 {
        text-align: center;
    }
    .nav li {
        text-align: center;
        width: 100%;
    }
    .cards img {
        width: 100%;
    }
}
