@import url(http://fonts.googleapis.com/css?family=Muli:300);

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Muli', sans-serif;
      font-size: 16px;
      color: #6a6a6a;
}

a{
color: #353236

}

h1
{
font-family: 'Muli', sans-serif;
font-size: 30px;
text-transform: uppercase;
color: #6a6a6a;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;

}

#bio {
  width: auto;
  border-radius: 25px;
  padding: 20px;
  text-align: left;
  box-shadow: 3px 5px 3px gray;
  border: 2px solid #2c2f28

}

#center {

  text-align: center;
}

.list {
  width: 50%;
  border-radius: 25px;
  padding: 20px;
  text-align: left;
  box-shadow: 3px 5px 3px gray;
  border: 2px solid #2c2f28
}
