
    #title {width: 333px;
    height: 187px;}     
    
    #q {width: 400px;
    height: 108px;}
    
    #z {width: 200px;
    height: 50px;}
    
    #pic {width: 250px;
    height: 140px;
     }

     p {font-size:small; }
     
body {
      color:#0E0D0D;
      background-color:#E7E7E7;
      background-image:url('Background Image');
      background-repeat:no-repeat;
      font-family: Arial, Helvetica, sans-serif;
      
    }

  


    a  { color:#383536; }
    a:visited { color:#383536; }
    a:hover { color:#383536; }
    a:active { color:#383536; }
    
 